[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GMSimpute"]
	path = GMSimpute
	url = https://github.com/qianli10000/gmsimpute
[submodule "lncDIFF"]
	path = lncDIFF
	url = https://github.com/cran/lncDIFF
[submodule "NB.MClust"]
	path = NB.MClust
	url = https://github.com/cran/NB.MClust
